@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'space-age';
    src: url('./fonts/spaceage.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  .font-custom {
    font-family: 'space-age';
  }

.calltoaction {
  background-image: url("/calltoaction.jpg");
}